@import "globalvar.scss";
@import "mixins.scss";


// .container {
//   width: 100%;
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 0 15px;
// }

.mainHeader {
  background-color: #fff;
  color: #333;
  padding: 10px 0;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

//   .logo {
//     // later
//   }

  .navbar {
    .navbar__menu {
      display: flex;

      .navbar__links {
        color: $navLinkColor;
        text-decoration: none;
        padding: $navLinkPadding;
        font-size: $navLinkFontSize;
        transition: all 0.3s ease;

        @include desktop {
          font-size: $navLinkFontSizeDesktop;
        }

        @include mini-desktop {
          font-size: $navLinkFontSizeminiDesktop;
          padding: $navLinkPaddingminiDesktop;
        }

        @include tab {
          color: #fff; 
          font-size: $navLinkFontSizeTab;
          padding: $navLinkPaddingTab;
        }

        @include phone {
          color: #fff; 
          font-size: $navLinkFontSizePhone;
          padding: $navLinkPaddingPhone;
        }

        &:hover {
          color: $navactiveLinkColor;
          @include tab {
            color: $navactiveLinkColorTab;
          }
          @include phone {
            color: $navactiveLinkColorPhone;
          }
        }
      }
    }
  }
}
