//colors
$navLinkColor: black;
$navactiveLinkColor: #252067;
$navactiveLinkColorTab: #252067;
$navactiveLinkColorPhone: #252067;

//paddings
$navLinkPadding: 10px 15px;
$navLinkPaddingminiDesktop: 8px 12px;
$navLinkPaddingTab: 6px 10px;
$navLinkPaddingPhone: 4px 8px;

//font sizes
$navLinkFontSize: 20px;
$navLinkFontSizeDesktop: 20px;
$navLinkFontSizeminiDesktop: 14px;
$navLinkFontSizeTab: 12px;
$navLinkFontSizePhone: 10px;

$background-image: "../images/sahajanand-helenium-images-for-amenities-37080818.jpeg";
$text-color: #fff;
$overlay-color: black;
$overlay-opacity: 0.4;