//colors
$navLinkColor: #333333;
$navactiveLinkColor: #ffcc00;
$navactiveLinkColorTab: #00ccff;
$navactiveLinkColorPhone: #ff9900;

//paddings
$navLinkPadding: 10px 15px;
$navLinkPaddingminiDesktop: 8px 12px;
$navLinkPaddingTab: 6px 10px;
$navLinkPaddingPhone: 4px 8px;

//font sizes
$navLinkFontSize: 18px;
$navLinkFontSizeDesktop: 16px;
$navLinkFontSizeminiDesktop: 14px;
$navLinkFontSizeTab: 12px;
$navLinkFontSizePhone: 10px;

