* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT serif", sans-serif;
}

.mainHeader {
  background-color: #fff;
  color: black;
  padding: 2.5px 0;
}
.mainHeader header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}
.mainHeader .logo img {
  height: 95px;
}
.mainHeader .navbar .navbar__menu {
  display: flex;
}
.mainHeader .navbar .navbar__menu .navbar__links {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 20px;
  transition: all 0.3s ease;
}
@media (min-width: 1024px) {
  .mainHeader .navbar .navbar__menu .navbar__links {
    font-size: 20px;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .mainHeader .navbar .navbar__menu .navbar__links {
    font-size: 14px;
    padding: 8px 12px;
  }
}
@media (max-width: 767px) {
  .mainHeader .navbar .navbar__menu .navbar__links {
    color: #fff;
    font-size: 12px;
    padding: 6px 10px;
  }
}
@media (max-width: 480px) {
  .mainHeader .navbar .navbar__menu .navbar__links {
    color: #fff;
    font-size: 10px;
    padding: 4px 8px;
  }
}
.mainHeader .navbar .navbar__menu .navbar__links:hover {
  color: #252067;
}
@media (max-width: 767px) {
  .mainHeader .navbar .navbar__menu .navbar__links:hover {
    color: #252067;
  }
}
@media (max-width: 480px) {
  .mainHeader .navbar .navbar__menu .navbar__links:hover {
    color: #252067;
  }
}

.homeCover {
  background: url(../images/homebanner.png) no-repeat center center;
  background-size: cover;
  height: 813px;
  position: relative;
  overflow: hidden;
}
.homeCover .container {
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
}
.homeCover .color-overlay {
  background: linear-gradient(to top right, black, black, white);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.2;
}
.homeCover h1,
.homeCover h2 {
  z-index: 2;
  margin: 0;
}
.homeCover h1 {
  font-size: 50px;
}
.homeCover h2 {
  font-size: 80px;
}

.aboutsection h1 {
  padding-top: 127px;
  padding-bottom: 50px;
  font-size: 50px;
}
.aboutsection p {
  line-height: 30px;
  width: 755px;
  font-size: 24px;
}
.aboutsection button {
  color: #fff;
  background-color: #252067;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 126px;
}
.aboutsection .aboutcontent {
  padding-left: 74px;
}
.aboutsection .sqimage {
  padding-top: 100px;
  width: calc(50% - 5px);
  margin-right: 10px;
  position: relative;
}
.aboutsection .sqimage::before {
  content: "25 Years of Excellence";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 32, 103, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
.aboutsection .rectimage {
  padding-top: 18px;
  padding-bottom: 100px;
  width: 100%;
}
.aboutsection .col-5 {
  display: flex;
  flex-wrap: wrap;
}
.aboutsection .col-5 .sqimage {
  width: 50%;
}
.aboutsection .col-5 .rectimage {
  width: 100%;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .aboutsection h1 {
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .aboutsection p {
    font-size: 18px;
    width: 100%;
  }
  .aboutsection button {
    width: 100%;
    font-size: 18px;
  }
  .aboutsection .aboutcontent {
    padding-left: 20px;
    padding-right: 20px;
  }
  .aboutsection .col-5 {
    flex-direction: column;
    padding: 0;
  }
  .aboutsection .col-5 .sqimage,
  .aboutsection .col-5 .rectimage {
    width: 100%;
    margin-right: 0;
  }
  .aboutsection .col-5 .rectimage {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
  }
}

.servicesection {
  background: #252067;
  padding-bottom: 130px;
}
.servicesection h1 {
  font-size: 50px;
  color: #fff;
  text-align: center;
  padding-top: 63px;
  padding-bottom: 59px;
}
.servicesection .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 52px;
}
.servicesection .box {
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  text-align: left;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
}
.servicesection .box h3 {
  padding-bottom: 12px;
}
.servicesection .arrow-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: black;
}

.equipmentsection {
  padding: 50px 0;
  text-align: center;
}
.equipmentsection h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.equipmentsection .slider {
  display: flex;
  overflow: hidden;
  position: relative;
}
.equipmentsection .slider > div {
  flex: 0 0 33.33%; /* Three items visible at a time */
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}
.equipmentsection .slider > div img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.equipmentsection .slider > div h4 {
  margin-top: 15px;
  font-size: 18px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mainFooter {
  background: #252067;
  color: #fff;
  padding-bottom: 75px;
}
.mainFooter h5 {
  font-size: 30px;
  padding-top: 100px;
}
.mainFooter .address {
  padding-top: 32px;
  font-size: 24px;
  width: 255px;
}
.mainFooter ul {
  padding-top: 32px;
  font-size: 24px;
}
.mainFooter ul a {
  color: #fff;
  text-decoration: none;
}
.mainFooter p {
  font-size: 24px;
}
.mainFooter .quick-links-container {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 400px;
}
.mainFooter .quick-links-container a {
  flex: 1 1 45%; /* Approximately 2 columns */
  text-align: left;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}
.mainFooter .footer-links {
  display: flex;
  flex-direction: column;
}

.bottomFooter {
  background: #252067;
  padding: 20px 0px;
  border-top: 1px solid white;
}

.copy_right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copy_right p {
  color: #fff;
  font-size: 24px;
  line-height: 21px;
  margin-bottom: 0px;
}
@media (min-width: 1024px) {
  .copy_right {
    font-size: 24px;
    line-height: 17px;
  }
}
@media (max-width: 480px) {
  .copy_right {
    flex-direction: column;
    align-items: center;
  }
  .copy_right p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 10px 0px;
  }
}/*# sourceMappingURL=style.css.map */