* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT serif", sans-serif;
}

.mainHeader {
  background-color: #fff;
  color: black;
  padding: 2.5px 0;
}
.mainHeader header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}
.mainHeader .logo img {
  height: 95px;
}
.mainHeader .navbar .navbar__menu {
  display: flex;
}
.mainHeader .navbar .navbar__menu .navbar__links {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 20px;
  transition: all 0.3s ease;
}
@media (min-width: 1024px) {
  .mainHeader .navbar .navbar__menu .navbar__links {
    font-size: 20px;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .mainHeader .navbar .navbar__menu .navbar__links {
    font-size: 14px;
    padding: 8px 12px;
  }
}
@media (max-width: 767px) {
  .mainHeader .navbar .navbar__menu .navbar__links {
    color: #fff;
    font-size: 12px;
    padding: 6px 10px;
  }
}
@media (max-width: 480px) {
  .mainHeader .navbar .navbar__menu .navbar__links {
    color: #fff;
    font-size: 10px;
    padding: 4px 8px;
  }
}
.mainHeader .navbar .navbar__menu .navbar__links:hover {
  color: #252067;
}
@media (max-width: 767px) {
  .mainHeader .navbar .navbar__menu .navbar__links:hover {
    color: #252067;
  }
}
@media (max-width: 480px) {
  .mainHeader .navbar .navbar__menu .navbar__links:hover {
    color: #252067;
  }
}

.homeCover {
  background: url(../images/homebanner.png) no-repeat center center;
  background-size: cover;
  height: 813px;
  position: relative;
  overflow: hidden;
}
.homeCover .container {
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
}
.homeCover .color-overlay {
  background: linear-gradient(to top right, black, black, white);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.2;
}
.homeCover h1, .homeCover h2 {
  z-index: 2;
  margin: 0;
}
.homeCover h1 {
  font-size: 50px;
}
.homeCover h2 {
  font-size: 80px;
}

.aboutsection h1 {
  padding-top: 127px;
  padding-bottom: 50px;
  font-size: 50px;
}
.aboutsection p {
  line-height: 30px;
  width: 725px;
  font-size: 24px;
}
.aboutsection button {
  color: #fff;
  background-color: #252067;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 126px;
}
.aboutsection .aboutcontent {
  padding-left: 74px;
}
.aboutsection .sqimage {
  padding-top: 100px;
}
.aboutsection .rectimage {
  padding-top: 18px;
  padding-bottom: 100px;
}

.services {
  background: #252067;
}
.services h1 {
  font-size: 50px;
  color: #fff;
  text-align: center;
  padding-top: 63px;
  padding-bottom: 59px;
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 52px;
}
.services .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  text-align: left;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
}
.services .box h3 {
  padding-bottom: 12px;
}

.mainFooter {
  background: #252067;
  color: #fff;
  padding-bottom: 75px;
}
.mainFooter h5 {
  font-size: 30px;
  padding-top: 100px;
}
.mainFooter .address {
  padding-top: 32px;
  font-size: 24px;
  width: 255px;
}
.mainFooter ul {
  padding-top: 32px;
  font-size: 24px;
}
.mainFooter ul a {
  color: #fff;
  text-decoration: none;
}
.mainFooter p {
  font-size: 24px;
}
.mainFooter .footer-links {
  display: flex;
  flex-direction: column;
}
.mainFooter .quick__links {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.mainFooter .quick__links1 {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding-top: 32px;
}

.bottomFooter {
  background: #252067;
  padding: 20px 0px;
  border-top: 1px solid white;
}

.copy_right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copy_right p {
  color: #fff;
  font-size: 24px;
  line-height: 21px;
  margin-bottom: 0px;
}
@media (min-width: 1024px) {
  .copy_right {
    font-size: 24px;
    line-height: 17px;
  }
}
@media (max-width: 480px) {
  .copy_right {
    flex-direction: column;
    align-items: center;
  }
  .copy_right p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 10px 0px;
  }
}/*# sourceMappingURL=style.css.map */